<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/J19/src/com/pcwk/ex01/fileinputstream/FileInputStreamEx01.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.pcwk.ex01.fileinputstream.FileInputStreamEx01"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="J19"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/Users/baghun/Desktop/DCOM_20220127/01_JAVA/workspace/J19/src/com/pcwk/ex01/fileinputstream/FileInputStreamEx01.java"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="J19"/>
</launchConfiguration>
